/*major semantics*/

article {float:left;
width: 30%;
}

h2 {
  font-family: "Interstate Bold Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
  color: #333333;
  font-weight: 700;
}

/*links*/

a:link {
  font-family: "Interstate Bold Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
  color: #333333;
  font-weight: 700;
}

a:visited {
    text-decoration: none;
    color: #333333;
    font-weight: 700;
}

a:hover {
  color: black;
  text-decoration: underline;
  font-weight: 600;
}

/*images*/

img { 
  border:.1rem solid #333333;
  box-shadow:0 0 .1rem .1rem #333333;
}

/*star rating - I copied this from https://css-tricks.com/star-ratings/, but not before trying to use fontawesome stars in a span. I couldn't figure out how to switch outlined stars for solid stars on hover. I'm sure it's something simple I missed.*/

.rating > span:hover:before {
    content: "\2605";
    position: absolute;
}

/*classes - normally these would be dynamic objects lifted from databases, right?*/

.price {font-size:110%;color:black;}
.brand {font-size:110%;color:black;}
.model-prefix {font-size:110%;color:black;}
.model-number {font-size:110%;color:black;}
.product-category {font-size:110%;color:black;}
.yes-no-bindings {font-size:110%;color:black;}
.dash-separator {font-size:110%;color:black;}
.gender-adult {font-size:110%;color:black;}
.model-year {font-size:110%;color:black;}
.product-category-comparison {font-size:110%;color:black;}

/*button(s)*/

button {
    background: white;
    color: black;
    font-family: "Interstate Bold Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 110%;
    height: 3rem;
    width: 7rem;
    line-height: 3rem;
    margin: 1.5rem 1.5rem;
    text-align: center;
    border: .1rem;
    border-style: solid;
    border-color: black;
    transition: all 0.2s ease 0s;
}
  
button:hover {
    background: gray;
}

