/*major semantics*/

html {font-family: "Interstate Bold Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 110%;
font-weight: 600;
}

article {float:left;
width: 30%;
}

h2 {
  text-decoration: none;
  color: #333333;

}

/*links*/

a:link {
 
  text-decoration: none;
  color: #333333;

}

a:visited {
    text-decoration: none;
    color: #333333;

}

a:hover {
  color: black;
  text-decoration: underline;
  font-weight: 700;
}

/*images*/

img { 
  border:.1rem solid #333333;
  box-shadow:0 0 .1rem .1rem #333333;
}

/*star rating - I copied this from https://css-tricks.com/star-ratings/, but not before trying to use fontawesome stars in a span. I couldn't figure out how to switch outlined stars for solid stars on hover. I'm sure it's something simple I missed.*/

.rating > span:hover:before {
    content: "\2605";
    position: absolute;
}

/*classes - normally these would be dynamic objects lifted from databases, right? I put only the color attribute here because the style doesn't really matter - it's the hypothetical data we're soncerned with*/

.yes-no-sale {
  color:black;
}

.price {
    color:black;
}

.brand {
    color:black;
}
.model-prefix {
    color:black;
}
.model-number {
    color:black;
}
.product-category {
    color:black;
}
.yes-no-bindings {
    color:black;
}
.dash-separator {
    color:black;
}
.gender-adult {
    color:black;
}
.model-year {
    color:black;
}
.product-category-comparison {
    color:black;
}

/*button(s)*/

button {
    background: white;
    color: black;
    width: 6rem;
    line-height: 2rem;
    margin: 1.5rem 1.5rem;
    text-align: center;
    border: .15rem;
    border-style: solid;
    border-color: black;
    transition: all 0.2s ease 0s;
}
  
button:hover {
    background: gray;
    font-weight: 700;
}

